<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>  
    <appSettings>
        <add key="bpr2mak" value="C:\Program Files (x86)\Borland\CBuilder6\Bin\bpr2mak.exe"/>
        <add key="make" value="C:\Program Files (x86)\Borland\CBuilder6\Bin\make.exe"/>
    </appSettings>
</configuration>
